 <div class="vh-80 ">
     
      
   <mat-card class="dd ">
   <mat-card-content >
    <div class="  mt-2   df ">
        <h2>
            <b>𝚕𝚘𝚐𝚒𝚗</b>
         </h2>
         </div>
       <form [formGroup]="loginForm">
      <div class="d-flex flex-wrap justify-content-center">
            <mat-form-field appearance="outline">
            <mat-label>username</mat-label>
            <input matInput formControlName="username">
            <mat-error *ngIf="loginForm.invalid">enter Username</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
            <mat-label>password</mat-label>
            <input matInput type="password" formControlName="password" >
            <mat-error *ngIf="loginForm.invalid">please enter a correct password</mat-error>
            </mat-form-field>

            <div class="a">
            <a mat-raised-button class="btn btn" routerLink="/dash/home" (click)="login()"> <mat-icon  class=" text-danger">login</mat-icon>User Login</a>&nbsp;
            <a mat-raised-button class="btn btn" routerLink="/admin" ><mat-icon>assignment_ind</mat-icon>Admin Login </a>&nbsp;
            <a mat-raised-button class="btn btn"  routerLink="/signup"><mat-icon>assignment</mat-icon> Register</a>&nbsp;
            <!-- <a mat-flat-button  class="btn btn dd" [disabled]="loginForm.valid"> <mat-icon>error_outline</mat-icon>Forgot Password</a> -->
            </div>
      </div>
       </form>
   </mat-card-content>
</mat-card>
