mat-card{
    width: 300px;
    height: 320px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-size: 550px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   background-color: aliceblue;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
mat-form-field{
    width: 400px;
    color:white;
    height: 55px;
    /* background-color: white; */
    border: 1px solid white;
}
mat-card:hover{
    box-sizing:initial;
border: 1px solid white;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
img{
    width: 180px;
    height: 150px;
    padding: 2px;

}
span{
    color: black;
}

button{
    width: 40%;
    margin-left: 15px;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

mat-card-content{
    border-radius: 13px;
}
mat-icon{
    color: whitesmoke;
}
h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: chocolate;

}
.df{
    padding-left: 15px;
}
