<mat-card class="">
    <mat-card-header>
        <h3>Product Details</h3>
    </mat-card-header>
    <mat-card-content>
        <div class="d-flex flex-wrap justify-content-around">
        <div class="col-md-4 dd">
            <img [src]="product.productImg" width="250px" height="350px">
        </div>
        <div class="col-md-8 dd p-2">
          <div class="d-flex flex-wrap justify-content-around">
            <h3><span><b>BRAND :</b>  &nbsp;</span>{{product.brand}}</h3><br>
            <h3><span><b>Rating :</b>  &nbsp;</span>{{product.rating}}</h3>
            <ngb-rating [max]="5" > </ngb-rating>

            <h3><span>
                <b> ProductName :</b>&nbsp;
            </span>{{product.productName}}</h3><br>

        </div>
            <h3><span> <b>Description :</b> &nbsp;</span>{{product.Description}}</h3><br>
            <h3><span><b>ProductDetails :</b>&nbsp;</span>{{product.ProductDetails}}</h3><br>
            <h3><span><b>MRP :</b>  &nbsp;</span>{{product.Mrp}}</h3><br>

        </div>
    </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button routerLink="/dash/eletr">Go Back</button>
    </mat-card-actions>
</mat-card>