<mat-card>
    <mat-card-header>
     ADD Home & Furniture 
    </mat-card-header>
    <mat-card-contnet>
     <form [formGroup]="furniture">
         <div>
                 <mat-form-field appearance="outline">
                 <mat-label>product Image</mat-label>
                 <input matInput placeholder="Product Name" formControlName="productImg" type="url">
                 <mat-error *ngIf="furniture.invalid">ProductImg Required</mat-error>
                 </mat-form-field>
                 <mat-form-field appearance="outline">
                 <mat-label>ProductId</mat-label>
                 <input matInput placeholder="ProductId" formControlName="id" type="number">
             <mat-error *ngIf="furniture.invalid">ProductId Required</mat-error>
         </mat-form-field>
         <mat-form-field appearance="outline">
             <mat-label>Product Name</mat-label>
             <input matInput placeholder="Product Name" formControlName="productName">
             <mat-error *ngIf="furniture.invalid">productName Required</mat-error>
         </mat-form-field>
         <mat-form-field appearance="outline">
            <mat-label>Brand</mat-label>
            <input matInput placeholder="Brand" formControlName="brand" type="number">
            <mat-error *ngIf="furniture.invalid">ProductId Required</mat-error>
        </mat-form-field>
     </div>
     <div>
         <mat-form-field appearance="outline">
             <mat-label>Discount </mat-label>
             <input matInput placeholder="Product Name" formControlName="Discount" type="number">
             <mat-error *ngIf="furniture.invalid">Discount Required field</mat-error>
         </mat-form-field>
         <mat-form-field appearance="outline">
             <mat-label> MRP</mat-label>
             <input matInput placeholder="Mrp" formControlName="Mrp"type="number">
             <mat-error *ngIf="furniture.invalid">MRP  Required field</mat-error>
         </mat-form-field>
         <mat-form-field appearance="outline">
             <mat-label>Description</mat-label>
             <input matInput placeholder="Description " formControlName="Description">
             <mat-error *ngIf="furniture.invalid">Description Required field</mat-error>
         </mat-form-field>
     </div>
     <div>
         <mat-form-field appearance="outline">
             <mat-label>Rating</mat-label>
             <input matInput placeholder="rating" formControlName="rating"type="number">
             <mat-error *ngIf="furniture.invalid">Rating Required field</mat-error>
         </mat-form-field>
         <mat-form-field appearance="outline">
             <mat-label>waranty</mat-label>
             <input matInput placeholder="waranty" formControlName="waranty"type="number">
             <mat-error *ngIf="furniture.invalid">waranty Required field</mat-error>
         </mat-form-field>
         <mat-form-field appearance="outline">
             <mat-label>Product Details</mat-label>
             <input matInput placeholder="ProductDetails" formControlName="ProductDetails"type="number">
             <mat-error *ngIf="furniture.invalid">ProductDetails Required field</mat-error>
         </mat-form-field>
     </div>
     </form>
 </mat-card-contnet>
 <mat-card-actions>
     <button mat-raised-button [style.background]="'Green'" (click)="post()">Save</button>
     <button  mat-raised-button [style.background]="'Red'">Cancel</button>
 </mat-card-actions>
</mat-card>