<mat-toolbar class="mat-elevation-z3">
              <button  (click)="collapsed.set(!collapsed())" class="btn btn">
              <mat-icon>menu</mat-icon>
              </button>
              <span class="spacer"></span>
              <button matTooltip="User Interface" routerLink="/dash/home" class="btn btn">
              <mat-icon>local_grocery_store</mat-icon>
              </button>&nbsp;
              <button (click)="profile()"  class="btn btn">
              <img src="https://th.bing.com/th/id/OIP.2biyaloQ6FYBxL40ytUDlgHaHb?rs=1&pid=ImgDetMain" width="50px" >
              </button>
</mat-toolbar>

   <mat-sidenav-container>
              <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
              <app-adminnav [collapsed]="collapsed()"/>
              </mat-sidenav>
              <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
              <router-outlet></router-outlet>
              </mat-sidenav-content>
   </mat-sidenav-container>