<div class="p-5"> 
    <mat-card  class=" mb-5">
        <div class="d-flex flex-wrap justify-content-center ">
        <img src="assets/icon.png" width="150px">
        </div>
        <div class="d-flex justify-content-center   " >
    
        </div>
    <div class="d-flex justify-content-center " >
    
        <h1 style="font-family: 'Montserrat',sans-serif;" [style.color]="'white'">Admin Registeration</h1>
    </div>
            <mat-card-content class="mt-3">
      
        <form   [formGroup]="adminRegister">
            <mat-form-field  appearance="outline">
                <mat-label>username</mat-label>
                <input matInput formControlName="username">
                <mat-error *ngIf="adminRegister.controls['username'].touched && ['userExistError'] && adminRegister.controls['username'].invalid">User already Exist Error</mat-error>
                     
            </mat-form-field> 
           
            <mat-form-field appearance="outline">
                <mat-label>email</mat-label>
                <input matInput  formControlName="email">
                <mat-error *ngIf="['emailExistError']">Email already Exist error</mat-error>
            </mat-form-field> 
            
         <mat-form-field appearance="outline">
        <mat-label>password</mat-label>
        <input matInput   formControlName="password">
        <mat-error *ngIf="adminRegister.invalid">Must contain at least one number and one uppercase and lowercase letter</mat-error>
        </mat-form-field> 
            
                     
                         
            
                    <mat-radio-group   formControlName="gender" >
                        <mat-label><b>Gender</b></mat-label>
                        <mat-radio-button value="male">male</mat-radio-button>
                        <mat-radio-button value="female">female</mat-radio-button>
                        <mat-error *ngIf="adminRegister.controls['gender'].touched && adminRegister.controls['gender'].invalid">please select gender</mat-error>
                    </mat-radio-group>
              
             
           
           
     
    
        <a mat-raised-button  class="w-50  " (click)="log()">submit</a>
    
    </form>
        </mat-card-content>
    
       
     </mat-card> 
    </div>